

build/*.exe


build/windows/Recalc.VC.db
build/windows/Recalc.VC.VC.opendb
build/windows/Debug/
build/windows/Release/
build/windows/Recalc/x64
build/windows/Recalc/Debug
build/windows/Recalc/Release
build/windows/Recalc_test/Debug
build/windows/Recalc_test/Release

build/*.obj
build/*/*.log

build/*.o

bin/stderr.txt

bin/stdout.txt

.*.swp
.idea/*


